{% extends "base.html" %}
{% load static %}
{% block titulo %} AgroPro - Perfil {% endblock %}

{% block menu %}
<div class="bienvenidaUsuario">
    {% for agric in agricultor %}
    <div>
        <h1 id="tituloUsuario">Bienvenido {{ agric.nombre }}</h1>
    </div>
    {% endfor %}
    <div class="imagenUsuario">
        <img src="" alt="">
    </div>
</div>
{% endblock %}

{% block contenido %}
{% for a in agricultor %}
<div class="row justify-content-center datosUsuario">
    <div class="col-4 formDatos">
        <form class="formDatosMuestra">
            <h1>DATOS</h1>
            <label for="">Nombre <input type="text" value="{{ a.nombre }}" disabled></label>
            {% for u in ubicacion %}
            <label for="">Ubicación
                <select name="" id="">
                    <option>{{ u.latitud }},{{ u.longitud }}</option>
                </select>
            </label>
            {% endfor %}
            {% for c in cultivo %}
            <label for="">Cultivo
                <select name="" id="">
                    <option>{{ c.nombre }}</option>
                </select>
            </label>
            {% endfor %}
            <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault">Imagenes Aereas
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"></label>
            </div>
        </form>
    </div>
    <div class="col-4"></div>
    <div class="col-4 categorias">
        <h1>CATEGORIAS</h1>
        <a href="{% url 'datosMeteorologicos' %}"><button>Datos Meteorologicos</button></a>
        <a href=""><button>Imagenes Aereas</button></a>
        <a href="{% url 'recomendaciones' %}"><button>Recomendaciones</button></a>
        <a href="{% url 'reportes' %}"><button>Reportes</button></a>
    </div>
</div>
<div class="row botonesFinal">
    <a href="{% url 'index' %}"><button>CERRAR SESION</button></a>
</div>
{% endfor %}
{% endblock %}