{% extends "base.html" %}
{% load static %}

{% block titulo %} AgroPro - Recomendaciones {% endblock %}

{% block menu %}
<div class="titulo-ingresar">
    <h1>Recomendaciones</h1>
</div>
{% endblock %}

{% block contenido %}
<div class="row recomendaciones1">
    <div class="col-6 prevencion">
        <h1>Prevencion</h1>
        <p>

        </p>
    </div>
    <div class="col-6 mejoras">
        <h1>Mejoras</h1>
        <p>

        </p>
    </div>
</div>
<hr></hr>
<div class="row recomendaciones2">
    <div class="col-6 acciones">
        <h1>Acciones a considerar</h1>
        <p>

        </p>    
    </div>
    <div class="col-6 experto">
        <h1>Aportes de expertos</h1>
        <p>
            
        </p>
        <button>Ver archivos cargados</button>
    </div>    
</div>
<div class="row botonesFinal">
    <a href="{% url 'perfil' %}"><button>ATRAS</button></a>
    <a href=""><button>CERRAR SESION</button></a>
</div>
{% endblock %}
