{% extends "base.html" %}
{% load static %}
{% block titulo %} AgroPro - Reportes {% endblock %}

{% block menu %}
<div class="titulo-ingresar">
    <h1>Reportes</h1>                
</div>
{% endblock %}

{% block contenido %}
<div class="row">
    <div class="col-6 tituloReportes">
        <h1>Seleccione información a enviar</h1>
        <div class="form-check form-switch">
            <label class="form-check-label" for="flexSwitchCheckDefault">Datos Meteorologicos
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"></label>                        
        </div>
        <div class="form-check form-switch">
            <label class="form-check-label" for="flexSwitchCheckDefault">Imagenes Aereas
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"></label>                        
        </div>
        <div class="form-check form-switch">
            <label class="form-check-label" for="flexSwitchCheckDefault">Recomendaciones
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"></label>                        
        </div>
        <button>Enviar</button>
    </div>
    <div class="col-6"></div>
    <div class="row botonesFinal">
        <a href="{% url 'perfil' %}"><button>ATRAS</button></a>
        <a href=""><button>CERRAR SESION</button></a>
    </div>
{% endblock %}